:root{
    // font-clrs
    --prm-clr:hsl(10, 29%, 15%);
    --secondary-clr:hsl(10, 90%, 50%);
    --border:1px solid hsl(0, 0%, 80%);
    --btn-clr:black;
    --hero-btn-clr:white;
    --transform-label-clr:hsl(10, 90%, 50%);


    // borders
    --note-border:1px solid rgba(0,0, 0, 0.1);
    --note-title-border:1px solid hsl(0, 0%, 85%);


    // bg-clrs
    // --body-bg:hsl(0, 0%, 95%);
    // --header-bg:hsl(0, 0%, 100%);
    --body-bg:linear-gradient(140deg, hsl(0, 0%, 90%), hsl(0, 0%, 100%));
    --header-bg:linear-gradient(140deg , hsl(0, 0%, 100%), hsl(0, 0%, 90%));
    --input-bg:hsl(0, 0%, 100%);
    --login-input-bg:hsl(0, 0%, 95%);
    --form-bg:white;
    --focused:hsl(0, 0%, 95%);
    --btn-hover-bg:hsl(120, 100%, 20%);
    --edit-modal-bg:rgba(0,0,0, 0.5);
    --modal-bg:white;
    --save-btn-bg:hsl(120, 100%, 20%);
    --delete-btn-bg:red;
    --note-create-btn-bg:green;
    --note-bg:hsl(0, 0%, 100%);
    --tooltip-bg:hsl(9, 89%, 50%);

    --input-hover-bg:hsl(10, 100%, 96%);

    // vars
    --width:35rem;
    --header-height:6rem;

    --weight: 600;
}

.dark-theme{
    // font-clrs
    --prm-clr:hsl(0, 0%, 90%);
    --secondary-clr:hsl(9, 89%, 50%);
    --border:1px solid hsl(0, 0%, 15%);
    --btn-clr:white;
    --hero-btn-clr:white;

    // borders
    --note-border:1px solid rgba(255, 255, 255, 0);
    --note-title-border:1px solid hsl(0, 0%, 15%);

    // bg-clrs
    --body-bg:linear-gradient(140deg, hsl(210, 8%, 8%), hsl(210, 8%, 12%));
    --header-bg:linear-gradient(140deg , hsl(210, 8%, 12%), hsl(210, 8%, 5%));
    // --body-bg:hsl(210, 8%, 8%);
    // --header-bg:hsl(210, 8%, 12%);
    --input-bg:hsl(210, 8%, 5%);
    --login-input-bg:hsl(0, 0%, 5%);
    // --form-bg:hsl(210, 8%, 10%);
    --form-bg:hsl(200, 10%, 15%);
    --focused:hsl(0, 0%, 5%);
    --btn-hover-bg:hsl(120, 100%, 20%);
    --edit-modal-bg:rgba(0,0,0, 0.5);
    --modal-bg:hsl(0, 0%, 10%);
    --save-btn-bg:hsl(120, 100%, 20%);
    --delete-btn-bg:rgb(224, 12, 12);

    --input-hover-bg:hsl(10, 100%, 10%);

    // vars
    --width:35rem;


    .invert{
        filter:invert(0.9) ;
    }
    .invert-3{
        filter:invert(0.3);
    }
    .note{
        box-shadow: none;
    }
}