:root{
    // font-clrs
    --prm-clr:hsl(10, 90%, 10%);
    --secondary-clr:hsl(9, 89%, 50%);
    --border:1px solid hsl(0, 0%, 75%);
    // --border:1px solid hsl(9, 100%, 90%);
    --btn-clr:black;
    --hero-btn-clr:white;
    --transform-label-clr:hsl(9, 89%, 50%);


    // borders
    --note-border:1px solid rgba(0,0, 0, 0.1);
    --note-title-border:1px solid hsl(0, 0%, 85%);


    // bg-clrs
    --body-bg:hsl(0, 0%, 96%);
    --header-bg:hsl(0, 0%, 100%);
    --input-bg:hsl(14, 90%, 100%);
    --form-bg:white;
    --focused:hsl(0, 0%, 95%);
    --btn-hover-bg:hsl(120, 100%, 20%);
    --edit-modal-bg:rgba(0,0,0, 0.5);
    --modal-bg:white;
    --save-btn-bg:hsl(120, 100%, 20%);
    --delete-btn-bg:red;
    --note-create-btn-bg:green;
    --note-bg:hsl(0, 0%, 100%);

    --tooltip-bg:hsl(9, 89%, 50%);

    // vars
    --width:35rem;
}

.dark-theme{
    // font-clrs
    --prm-clr:hsl(10, 90%, 95%);
    --secondary-clr:hsl(9, 89%, 50%);
    --border:1px solid hsl(0, 0%, 15%);
    // --border:1px solid hsl(10, 42%, 11%);
    --btn-clr:white;
    --hero-btn-clr:white;

    // borders
    --note-border:1px solid rgba(255, 255, 255, 0);
    --note-title-border:1px solid hsl(0, 0%, 15%);

    // bg-clrs
    --body-bg:hsl(210, 8%, 5%);
    --header-bg:hsl(210, 8%, 10%);
    --input-bg:hsl(210, 8%, 8%);
    --form-bg:hsl(210, 8%, 10%);
    --focused:hsl(0, 0%, 5%);
    --btn-hover-bg:hsl(120, 100%, 20%);
    --edit-modal-bg:rgba(0,0,0, 0.5);
    --modal-bg:hsl(0, 0%, 10%);
    --save-btn-bg:hsl(120, 100%, 20%);
    --delete-btn-bg:rgb(224, 12, 12);
    --note-bg:#04080d;


    // vars
    --width:35rem;


    .invert{
        filter:invert(0.9);
    }
    .invert-3{
        filter:invert(0.3);
    }
}